<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>上报管理</title>
		<link type="text/css" rel="stylesheet" href="../apps/com.awspaas.user.apps.clue/css/iview.css" />
		<link type="text/css" rel="stylesheet" href="../apps/com.awspaas.user.apps.clue/css/common.css" />
		<link rel="Bookmark" type="image/x-icon" href="../favicon.ico" />
		<link rel="icon" type="image/x-icon" href="../favicon.ico" />
		<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
		<style>
			body {
				background-color: rgb(242, 242, 242);
			}
			
			.wrapper {
				background: #fff;
				padding: 10px 40px;
				margin-top: 15px;
			}
			
			.pull-right {
				float: right;
			}
			
			.abs-btn {
				position: absolute;
				top: 8px;
				left: calc(100% - 115px);
				cursor: pointer;
				z-index: 100;
			}
			
			.pd20 {
				padding: 0px 20px;
			}
			
			.ivu-form-item {
				margin: 6.5px 0;
			}
			
			.ivu-form-item-label,
			.ivu-form-item [placeholder],
			.ivu-select-placeholder {
				font-size: 14px !important;
			}
			
			.ivu-table-header {
				height: 54px;
				line-height: 54px;
				background-color: rgba(242, 242, 242, 1) !important;
			}
			
			.ivu-table-header .ivu-table-cell>span {
				font-size: 14px;
			}
			.cluetagRed{
				display:inline-block;
				width: 20px;
				height: 20px;
				margin-right:5px !important;
				text-align:center !important;
				border-radius: 5px !important;
				line-height:20px !important;
				color:#fff;
				background-color: #ed4014;
				cursor:pointer;
			}
			.cluetagDisplay{
				display: none;
			}
			.marginLeft25{
				margin-left: 25px;
			}
			.wdflag{/*未读小红点*/
				width: 4px;
				height: 4px;
				border-radius:25px;
				position:relative;
				background-color: #ed4014;
				display:inline-block;
				top:-2px;
				left: 10px;
			}
			.ivu-upload-list{
				position: relative;
				top: -10px;
				width: 500px;
			}
		</style>
	</head>

	<body>
		<div id="report_search" v-cloak>
			<Row class="wrapper">
				<i-col span="24">
					<Breadcrumb separator=">">
						<breadcrumb-item>线索模块</breadcrumb-item>
						<breadcrumb-item>上报管理</breadcrumb-item>
					</Breadcrumb>
				</i-col>
			</Row>
			<i-form ref="report_form" class="pd20" v-bind:model="searchParams" v-bind:label-width="120">
				<Row class="wrapper">
					<Row>
						<i-col span="8">
							<form-item label="上报编号" prop="RWBH">
								<i-input v-model="searchParams.RWBH" placeholder="请输入上报编号" />
							</form-item>
						</i-col>
						<i-col span="8">
							<form-item label="标题名称" prop="RWMC~9">
								<i-input v-model="searchParams['RWMC~9']" placeholder="请输入任务名称" />
							</form-item>
						</i-col>
						<i-col span="8">
							<form-item label="创建时间" prop="SBSJ~11">
								<date-picker type="daterange" style="width:100%;" confirm v-model="searchParams['SBSJ~11']" format="yyyy-MM-dd" placeholder="开始日期-截止日期" @on-change="searchParams['SBSJ~11']=$event"></date-picker>
							</form-item>
						</i-col>
					</Row>
					<Row>
						<i-col span="8">
							<form-item label="上报类型" prop="SBLXDM">
								<i-select @on-open-change="getCodeSelect('CODE_XSHB_SBLX','com.awspaas.user.apps.clue.getCodeMap','reportTypeSelect',$event)" v-model="searchParams.SBLXDM" placeholder="请选择线索来源">
									<i-option v-for="item in reportTypeSelect" :value="item.CODE" :key="item.NAME" >{{ item.NAME }}</i-option>
								</i-select>
							</form-item>
						</i-col>
						<i-col span="8">
							<form-item label="上报状态" prop="RWZTDM">
								<i-select @on-open-change="getCodeSelect('CODE_XSHB_RWZT','com.awspaas.user.apps.clue.getCodeMap','rwzt',$event)" v-model="searchParams.RWZTDM" placeholder="请选择上报状态">
									<i-option v-for="item in rwzt" :value="item.CODE" :key="item.NAME" >{{ item.NAME }}</i-option>
								</i-select>
							</form-item>
						</i-col>
						<i-col span="8">
							<form-item label="创建单位" prop="SBDW_GAJGJGDM">
								<sy-tree ref="createDepartment" title="选择创建单位" tablename="CODE_GXS_BIZ" v-model="searchParams.SBDW_GAJGJGDM" @change="searchParams.SBDW_GAJGJGDM=$event" placeholder="请选择创建单位"></sy-tree>
							</form-item>
						</i-col>
					</Row>
					<Row>
						<i-col span="8">
							<form-item label="接收单位" prop="JSDW_GAJGJGDM">
								<sy-tree ref="getDepartment" title="选择接收单位" tablename="CODE_GXS_BIZ" v-model="searchParams.JSDW_GAJGJGDM" @change="searchParams.JSDW_GAJGJGDM=$event" placeholder="请选择接收单位"></sy-tree>
							</form-item>
						</i-col>
						<i-col span="8">
							<form-item label="接收人员" prop="JSRY_XM">
								<i-select @on-open-change="getUser($event)" v-model="searchParams.JSRY_XM" filterable clearable placeholder="请选择接收人员">
									<i-option v-for="item in selectuser" :value="item.USERNAME" :key="item.USERNAME">{{ item.USERNAME }}</i-option>
								</i-select>
							</form-item>
						</i-col>
					</Row>
					<Row>
						<i-button class="pull-right" @click="handleReset('report_form')">重置</i-button>
						<i-button class="pull-right" @click="search()" type="primary" style="margin-right: 15px;">查询</i-button>
					</Row>
				</Row>
			</i-form>
			<Row class="pd20">
				<Row class="wrapper">
					<i-button type="primary" class="abs-btn" @click="pageToAddReport" v-if="user.userGxsLev != 1">新建上报</i-button>
					<Tabs :value="activeTabName" @on-click="switchTab" style="overflow: visible">
						<tab-pane :label="reportCountByDown" name="subReport" v-if="user.userGxsLev != 3">
							<sy-table ref="subReport" :url="subReportTable.url" :columns="subReportTable.columns" :query-params="searchParams" :pager-page-size="10" :pager-page-size-opts="[5, 10, 20, 30]">
							</sy-table>

							<!-- 表格点击更多出现的弹框 -->
							<div class="entry" v-if="calloption">
								<div class="right-entry-trangle"></div>
							</div>

						</tab-pane>
						<tab-pane :label="reportCountByMe" name="myReport" v-if="user.userGxsLev != 1">
							<sy-table ref="myReport" :url="myReportTable.url" :columns="myReportTable.columns" :query-params="searchParams" :pager-page-size="10" :pager-page-size-opts="[5, 10, 20, 30]">
							</sy-table>
							<!-- 表格点击更多出现的弹框 -->
							<div class="entry" v-if="calloption">
								<div class="right-entry-trangle"></div>
							</div>
						</tab-pane>
						<tab-pane label="单位上报" name="unitReport" v-if="user.userGxsLev != 1">
							<sy-table ref="unitReport" :url="unitReportTable.url" :columns="unitReportTable.columns" :query-params="searchParams" :pager-page-size="10" :pager-page-size-opts="[5, 10, 20, 30]">
							</sy-table>
						</tab-pane>
						<tab-pane label="辖区上报" name="areaReport" v-if="user.userGxsLev != 1">
							<sy-table ref="areaReport" :url="areaReportTable.url" :columns="areaReportTable.columns" :query-params="searchParams" :pager-page-size="10" :pager-page-size-opts="[5, 10, 20, 30]">
							</sy-table>
						</tab-pane>
						<tab-pane :label="SubResubByDown" name="subResubmitTable" v-if="user.userGxsLev != 3">
							<sy-table ref="subResubmitTable" :url="subResubmitTable.url" :columns="subResubmitTable.columns" :query-params="searchParams" :pager-page-size="10" :pager-page-size-opts="[5, 10, 20, 30]">
							</sy-table>
						</tab-pane>
						<tab-pane :label="SubResubByMe" name="myResubmitTable" v-if="user.userGxsLev != 1">
							<sy-table ref="myResubmitTable" :url="myResubmitTable.url" :columns="myResubmitTable.columns" :query-params="searchParams" :pager-page-size="10" :pager-page-size-opts="[5, 10, 20, 30]">
							</sy-table>
						</tab-pane>
					</Tabs>
				</Row>
			</Row>

            <!-- 起诉录入弹框 -->
            <Modal :title="'起诉信息 ('+sueInformationForm.sueXsbh+')'" v-model="sueInformation" width="50%">
                <i-form
                        ref="sueInformationForm"
                        :model="sueInformationForm"
						:rules = "sueInformationFormRule"
                        :label-width="120">
                    <Row>
                        <h3>起诉案件数</h3>
                        <i-col span="7">
                            <form-item label="省内" prop="suein">
                                <input-number min="0" max="999999999" :readonly="sueInformationForm.readonly" v-model="sueInformationForm.suein"></input-number>
                            </form-item>
                        </i-col>
                        <i-col span="7">
                            <form-item label="省外" prop="sueout">
                                <input-number min="0" max="999999999" :readonly="sueInformationForm.readonly" v-model="sueInformationForm.sueout"></input-number>
                            </form-item>
                        </i-col>
                        <i-col span="7">
                            <form-item label="本地" prop="suelocal">
                                <input-number min="0" max="999999999" :readonly="sueInformationForm.readonly" v-model="sueInformationForm.suelocal"></input-number>
                            </form-item>
                        </i-col>
					</Row>
					<Row>
                        <h3>起诉人员数</h3>
                        <i-col span="7">
                            <form-item label="起诉人员数" prop="suery">
                                <input-number min="0" :readonly="sueInformationForm.readonly" v-model="sueInformationForm.suery"></input-number>
                            </form-item>
                        </i-col>
						<i-col span="10">
							<form-item label="起诉时间" prop="sutime">
								<date-picker type="date" :value="sueInformationForm.sutime" :readonly="sueInformationForm.readonly" confirm v-model="sueInformationForm.sutime" format="yyyy-MM-dd HH:mm:ss"  placeholder="起诉时间" @on-change="sueInformationForm['sutime']=$event" ></date-picker>
							</form-item>
						</i-col>
                    </Row>
                    <Row>
                        <h3>起诉法律文书</h3>
                        <i-col span="24">
                            <form-item label="起诉文书" prop="sufile">
                                <Upload :style="{display: suFileForUp}" ref="upload" :show-upload-list="suFileForUp" :on-remove="handleRemove" :on-success="handleSuccess" :on-progress="handlerprogress" :max-size="102400" :on-format-error="handleFormatError" :on-exceeded-size="handleMaxSize" :before-upload="handleBeforeUpload" multiple="false" type="drag" action="./uf?appId=com.awspaas.user.apps.clue&sid=<#sid>&groupValue=clue&fileValue=<#UUID>&repositoryName=sy">
                                    <Icon title="录入法律文书" color="#2d8cf0"style="font-size:34px" type="ios-cloud-upload"></Icon>
                                </Upload>
								<div :v-show="suFileForDown" v-for="(item,index) in sueInformationForm.sufile" :key="item.value">
									<span style="display:inline-block"  v-if="item.FJLX==='xlsx'||item.FJLX==='xls'">
									    <img style="width: 30px;" src="../apps/com.awspaas.user.apps.clue/img/icon/excel.png" class="file-icon">
									</span>
									<span style="display:inline-block"  v-else-if="item.FJLX==='doc'||item.FJLX==='docx'">
									    <img style="width: 30px;" src="../apps/com.awspaas.user.apps.clue/img/icon/word.png" class="file-icon">
									</span>
									<span style="display:inline-block"  v-else-if="item.FJLX === 'pptx'">
									    <img style="width: 30px;" src="../apps/com.awspaas.user.apps.clue/img/icon/ppt.png" class="file-icon">
									</span>
									<span style="display:inline-block"  v-else-if="item.FJLX === 'png'||item.FJLX === 'jpg'||item.FJLX === 'jpeg'||item.FJLX === 'gif'">
									    <img style="width: 30px;" src="../apps/com.awspaas.user.apps.clue/img/icon/image.png" class="file-icon">
									</span>
									
									<span style="display:inline-block"  v-else-if="item.FJLX === 'mp4'">
									    <img style="width: 30px;" src="../apps/com.awspaas.user.apps.clue/img/icon/video.png" class="file-icon">
									</span>
									<span style="display:inline-block"  v-else-if="item.FJLX === 'zip'||item.FJLX === 'rar'||item.FJLX === '7z'">
									    <img style="width: 30px;" src="../apps/com.awspaas.user.apps.clue/img/icon/zip.png" class="file-icon">
									</span>
									<span style="display:inline-block"  v-else>
									    <img style="width: 30px;" src="../apps/com.awspaas.user.apps.clue/img/icon/unknown.png" class="file-icon">
									</span>
									<span style="position: relative; top: -10px;" class="file-name" :title="item.FJMC">{{item.FJMC}}</span>
									<a style="position: relative; top: -10px;" class="file-download" @click="downLoadFile(item.FJMC,item.GLYWBH)">下载</a>
								</div>
                            </form-item>
							
                        </i-col>
                    </Row>

                </i-form>
                <div slot="footer">
                    <i-button @click="sueInformation=false">取消</i-button>
                    <i-button v-show="sueInformationForm.submitShow" type="primary" @click="submitSue('sueInformationForm')">确定</i-button>
                </div>
            </Modal>
		</div>
	</body>
	<script type="text/javascript" src="../apps/com.awspaas.user.apps.clue/js/vue.min.js"></script>
	<script type="text/javascript" src="../apps/com.awspaas.user.apps.clue/js/iview.min.js"></script>
	<script type="text/javascript" src="../apps/com.awspaas.user.apps.clue/js/zh-CN.js"></script>
	<script type="text/javascript" src="../apps/com.awspaas.user.apps.clue/js/axios.min.js"></script>
	<script type="text/javascript" src="../apps/com.awspaas.user.apps.clue/js/sy-table.js"></script>
	<script type="text/javascript" src="../apps/com.awspaas.user.apps.clue/js/common.js"></script>
	<script>
		var sid = '<#sid>';
		var refillData = {
		    fj:  [] 
		};
		// var user = '<#user>';
		const user = JSON.parse('<#user>');
		var searchParams = {
			'RWBH': '',
			'RWMC~9': '',
			'SBSJ~11': '',
			'SBLXDM': '',
			'RWZTDM': '',
			'SBDW_GAJGJGDM': '',
			'JSDW_GAJGJGDM': '',
			'JSRY_XM': ''
		};
		var vm = new Vue({
			el: '#report_search',
			data: {
				suFileForUp:'inline-block',//法律文书上传
				suFileForDown:false,//法律文书下载
				enclosureUpload:false,//上传附件的uoload钮
				uploadList: [],
				filePath:[],
				reportCountByDown:(h)=>{
					return h('div',[
						h('span','下级上报'),
						h('Badge',{
							props:{
								count: parseInt('<#reportCountByDown>')
							}
						})
					])
				},
				reportCountByMe:(h)=>{
					return h('div',[
						h('span','我的上报'),
						h('Badge',{
							props:{
								count: parseInt('<#reportCountByMe>')
							}
						})
					])
				},
				SubResubByDown:(h)=>{
					return h('div',[
						h('span','下级续报'),
						h('Badge',{
							props:{
								count: parseInt('<#SubResubByDown>')
							}
						})
					])
				},
				SubResubByMe:(h)=>{
					return h('div',[
						h('span','我的续报'),
						h('Badge',{
							props:{
								count: parseInt('<#SubResubByMe>')
							}
						})
					])
				},
				sueRwbh:'',
				selectuser: [],
				searchParams: searchParams,
				activeTabName: 'subReport',
				reportTypeSelect:[],//上报类型
				rwzt:[],//上报状态
                sueInformation: false,
                sueInformationForm:{//起诉信息
				    suein: null,
                    sueout:null,
                    suelocal: null,
                    suery: null,
					sueXsbh:null,
					readonly:false,
					submitShow:true,
					sutime:'',
					sufile:[]

                },
				sueInformationFormRule:{//起诉信息规则验证
                    suein: [
						{ type:'number', required: true, message: '此项为必填项', trigger: 'change' },
                    ],
					sueout: [
                        { type:'number', required: true, message: '此项为必填项', trigger: 'change' },
                    ],
                    suelocal: [
                        { type:'number', required: true, message: '此项为必填项', trigger: 'change' },
                    ],
                    suery: [
                        { type:'number', required: true, message: '此项为必填项', trigger: 'change' },
                    ],
					sutime: [
						{required: true, message: '此项为必填项', trigger: 'change',pattern: /.+/ }
					],
					/*sufile: [
						{ type:'String', required: true, message: '此项为必填项', trigger: 'change' },
					],*/
                },
				subReportTable: {
					url: './jd?cmd=com.awspaas.user.apps.clue.getSubReportTask&sid=' + sid,
					queryParams: this.searchParams,
					columns: [{
							title: '上报编号',
							key: 'RWBH',
							width: 230,
							render: (h, params) => {
								let wdflag = '';

								let sueStyle = params.row.QS_PDBZ === '1' ?  'cluetagRed':'cluetagDisplay',
									sueText = params.row.QS_PDBZ === '1' ? '诉':'';
								let aClass ='';
								if(params.row.QS_PDBZ === '1'){
									aClass = '';
								}else{
									aClass = 'marginLeft25';
								}
								if(params.row.WDRY.indexOf(user.userId) > -1){
									wdflag = 'wdflag'
								}
								return h('div', [
									h('span',{
										on:{
											click:()=>{
												vm.sueRwbh = params.row.RWBH;
												vm.sueInformation = true;
												let jsonn = {
													RWBH:params.row.RWBH,
												};
												let param = new URLSearchParams();
												param.append("json",JSON.stringify(jsonn));
												axios({
													url: './jd?cmd=com.awspaas.user.apps.clue.getClueSue&sid='+sid,
													method: 'post',
													data: param
												}).then(response => {
													vm.sueInformationForm.sueXsbh = response.data.data.XSBH;
													vm.sueInformationForm.suein = response.data.data.suein;
													vm.sueInformationForm.sueout = response.data.data.sueout;
													vm.sueInformationForm.suelocal = response.data.data.suelocal;
													vm.sueInformationForm.suery = response.data.data.suery;
													vm.sueInformationForm.sufile = JSON.parse(response.data.data.sufile);
													vm.sueInformationForm.sutime = formatTonomal(parseInt(response.data.data.sutime.time));
													vm.sueInformationForm.readonly = true;
													vm.sueInformationForm.submitShow = false;
													vm.suFileForUp = 'none';
													vm.suFileForDown = true;
												}).catch(error => {
													console.log(error);
												});

											}
										},
										class:sueStyle
									},sueText),
									h('span',{
										class:wdflag
									}),
									h('a', {
										class:aClass,
										attrs: {
											href: './w?cmd=com.awspaas.user.apps.clue.router&classify=report&action=process&sid=' + sid + '&extendParams={"RWBH":"' + params.row.RWBH + '"}',
											target: '_blank'
										}
									}, params.row.RWBH)
								]);
							},
						},
						{
							title: '标题名称',
							key: 'RWMC',
							width: 250,
							tooltip: true
						},
						{
							title: '上报类型',
							key: 'SBLXDM',
							tooltip: true
						},
						{
							title: '创建单位',
							key: 'SBDW_GAJGMC',
							tooltip: true
						},
						{
							title: '创建人',
							key: 'SBRY_XM',
							tooltip: true
						},
						{
							title: '创建时间',
							key: 'SBSJ',
							sortable: true,
							tooltip: true
						},
						{
							title: '任务状态',
							key: 'RWZTDM',
							render: (h, params) => {
								let statusColor;
								if(params.row.RWZTDM == '待签收') {
									statusColor = '#09f'
								} else if(params.row.RWZTDM == '回退') {
									statusColor = '#f56c6c'
								} else if(params.row.RWZTDM == '驳回') {
									statusColor = '#f56c6c'
								} else if(params.row.RWZTDM == '中止') {
									statusColor = '#cccccc'
								} else if(params.row.RWZTDM == '沟通中') {
									statusColor = '#e6a23c'
								} else if(params.row.RWZTDM == '转派中') {
									statusColor = '#67c23a'
								} else if(params.row.RWZTDM == '转派成功') {
									statusColor = '#0099ff'
								} else if(params.row.RWZTDM == '转派失败') {
									statusColor = '#cccccc'
								} else if(params.row.RWZTDM == '关闭') {
									statusColor = '#cccccc'
								} else if(params.row.RWZTDM == '已签收') {
									statusColor = '#67c23a'
								}else if(params.row.RWZTDM == '已撤回') {
									statusColor = '#cccccc'
								};
								return h('Poptip', [
									h('span', {
										style: {
											width: '9px',
											height: '9px',
											borderRadius: '25px',
											position: 'relative',
											backgroundColor: statusColor,
											display: 'inline-block'
										},
									}),
									h('span', {
										style: {
											marginLeft: '5px',
										},
									}, params.row.RWZTDM),
								])
							}
						},
						{
							type: 'option',
							title: '操作',
							width: 100,
							render: (h, params) => {
								let isDisplay = 'block';
								if(user.userGxsLev == 1) {
									isDisplay = 'none'
								}
								let contentList = [
									h('a', {
										style: {
											color: '#0099FF',
											fontSize: '12px',
											display: 'block'
										},
										attrs: {
											href: './w?cmd=com.awspaas.user.apps.clue.router&classify=report&action=process&sid=' + sid + '&extendParams={"RWBH":"' + params.row.RWBH + '"}',
										}
									}, '详情'),
									h('a', {
										style: {
											color: '#0099FF',
											fontSize: '12px',
											display: user.userGxsLev != '1' ? 'inline-block' : 'none'
										},
										attrs: {
											href: './w?cmd=com.awspaas.user.apps.clue.router&classify=report&action=add&sid=' + sid + '&extendParams={"RWBH":"' + params.row.RWBH + '"}',
											target: '_blank'
										}
									}, '复制'),
									h('a', {style: {
											color: '#0099FF',
											fontSize: '12px',
											display: (params.row.RWZTDM!='待签收' || params.row.CREATEUSER != user.userId) ? 'none' : 'inline-block'
										},
										on: {
											click: () => {
												let that = this;
												that.showLoadMask('撤回中');
												axios({
													url: './jd?cmd=com.awspaas.user.apps.clue.revokeProcess&classify=report&action=revoke&sid=' + sid + '&rwbh=' + params.row.RWBH,
													method: 'post',
												}).then(response => {
													that.hideLoadMask();
													if(response.data.result == 'ok') {
														vm.$refs.myReport.init();
														vm.$Modal.success({
															title: response.data.msg
														});
													}
												}).catch(error => {
													console.log(error);
												});
											}
										}
									}, '撤回'),
									h('a', {
										style: {
											color: '#0099FF',
											fontSize: '12px',
											display: params.row.RWZTDM!='已撤回' ? 'none' : 'inline-block'
										},
										attrs: {
											href: './w?cmd=com.awspaas.user.apps.clue.router&classify=report&action=update&sid=' + sid + '&extendParams={"RWBH":"' + params.row.RWBH + '"}',
										},
									}, '编辑'),

								]
								

								
								return h('Poptip', {
									props: {
										trigger: 'click',
										placement: 'left'
									},
								}, [
									h('span', {
										style: {
											color: '#0099FF',
											fontSize: '12px',
											cursor: 'pointer'
										},
									}, '更多'),
									h('div', {
										slot: 'content',
										style: {
											textAlign: 'center',
											height: 'auto',
											lineHeight: '25px',
											fontSize: '14px'
										}
									}, contentList)
								])
							}
						}
					],
				},
				//我的上报
				myReportTable: {
					url: './jd?cmd=com.awspaas.user.apps.clue.getMyReportTask&sid=' + sid,
					queryParams: this.searchParams,
					columns: [{
							title: '上报编号',
							key: 'RWBH',
							width: 230,
							render: (h, params) => {
								let sueStyle = params.row.QS_PDBZ === '1' ?  'cluetagRed':'cluetagDisplay',
										sueText = params.row.QS_PDBZ === '1' ? '诉':'';
								let aClass ='';
								if(params.row.QS_PDBZ === '1'){
									aClass = '';
								}else{
									aClass = 'marginLeft25';
								}
								return h('div', [
									h('span',{
										on:{
											click:()=>{
												vm.sueRwbh = params.row.RWBH;
												vm.sueInformation = true;
												let jsonn = {
													RWBH:params.row.RWBH,
												};
												let param = new URLSearchParams();
												param.append("json",JSON.stringify(jsonn));
												axios({
													url: './jd?cmd=com.awspaas.user.apps.clue.getClueSue&sid='+sid,
													method: 'post',
													data: param
												}).then(response => {
													vm.sueInformationForm.sueXsbh = response.data.data.XSBH;
													vm.sueInformationForm.suein = response.data.data.suein;
													vm.sueInformationForm.sueout = response.data.data.sueout;
													vm.sueInformationForm.suelocal = response.data.data.suelocal;
													vm.sueInformationForm.suery = response.data.data.suery;
													vm.sueInformationForm.sufile = response.data.data.sufile;
													vm.sueInformationForm.sutime = formatTonomal(parseInt(response.data.data.sutime.time));
													vm.sueInformationForm.readonly = true;
													vm.sueInformationForm.submitShow = false;
													vm.sueInformationForm.sufile = JSON.parse(response.data.data.sufile);
													vm.suFileForUp = 'none';
													vm.suFileForDown = true;
												}).catch(error => {
													console.log(error);
												});

											}
										},
										class:sueStyle
									},sueText),
									h('a', {
										class:aClass,
										attrs: {
											href: './w?cmd=com.awspaas.user.apps.clue.router&classify=report&action=process&sid=' + sid + '&extendParams={"RWBH":"' + params.row.RWBH + '"}',
											target: '_blank'
										}
									}, params.row.RWBH)
								]);
							},
						},
						{
							title: '标题名称',
							key: 'RWMC',
							width: 250,
							tooltip: true
						},
						{
							title: '上报类型',
							key: 'SBLXDM',
							tooltip: true
						},
						{
							title: '创建时间',
							key: 'SBSJ',
							sortable: true,
							tooltip: true
						},
						{
							title: '接收单位',
							key: 'JSDW_GAJGJGDM',
							tooltip: true
						},
						{
							title: '接收人',
							key: 'JSRY_XM',
							tooltip: true,
							render: (h, params) => {
								if(params.row.JSRY_XM == ''){
									return 	h('div',{
										style:{
											position: 'relative',
											left: '15px'
										}
									},'—')
								}else{
									return 	h('span',{

									},params.row.JSRY_XM)
								}
							}
						},
						{
							title: '任务状态',
							key: 'RWZTDM',
							tooltip: true,
							render: (h, params) => {
								let statusColor;
								if(params.row.RWZTDM == '待签收') {
									statusColor = '#09f'
								} else if(params.row.RWZTDM == '回退') {
									statusColor = '#f56c6c'
								} else if(params.row.RWZTDM == '驳回') {
									statusColor = '#f56c6c'
								} else if(params.row.RWZTDM == '中止') {
									statusColor = '#cccccc'
								} else if(params.row.RWZTDM == '沟通中') {
									statusColor = '#e6a23c'
								} else if(params.row.RWZTDM == '转派中') {
									statusColor = '#67c23a'
								} else if(params.row.RWZTDM == '转派成功') {
									statusColor = '#0099ff'
								} else if(params.row.RWZTDM == '转派失败') {
									statusColor = '#cccccc'
								} else if(params.row.RWZTDM == '关闭') {
									statusColor = '#cccccc'
								} else if(params.row.RWZTDM == '已签收') {
									statusColor = '#67c23a'
								}else if(params.row.RWZTDM=='已撤回'){
                        			statusColor='#cccccc'
                        		};
								return h('Poptip', [
									h('span', {
										style: {
											width: '9px',
											height: '9px',
											borderRadius: '25px',
											position: 'relative',
											backgroundColor: statusColor,
											display: 'inline-block'
										},
									}),
									h('span', {
										style: {
											marginLeft: '5px',
										},
									}, params.row.RWZTDM),
								])
							}
						},
						{
							type: 'option',
							title: '操作',
							width: 100,
							render: (h, params) => {
                                const contentList = [
										h('a', {
											style: {
												color: '#0099FF',
												fontSize: '12px',
												display: 'block'
											},
											attrs: {
												href: './w?cmd=com.awspaas.user.apps.clue.router&classify=report&action=process&sid=' + sid + '&extendParams={"RWBH":"' + params.row.RWBH + '"}',
												target: '_blank'
											}
										}, '详情'),
										h('a', {
											style: {
												color: '#0099FF',
												fontSize: '12px',
												display: 'block'
											},
											attrs: {
												href: './w?cmd=com.awspaas.user.apps.clue.router&classify=report&action=add&sid=' + sid + '&extendParams={"RWBH":"' + params.row.RWBH + '"}',
											}
										}, '复制'),
										h('a',{
										    on:{
                                            click:()=>{
                                                let that = this;
                                                that.showLoadMask('撤回中');
                                                axios({
                                                    url: './jd?cmd=com.awspaas.user.apps.clue.revokeProcess&classify=report&action=revoke&sid='+sid+'&rwbh='+params.row.RWBH,
                                                    method: 'post',
                                                }).then(response => {
                                                    that.hideLoadMask();
                                                    if(response.data.result == 'ok'){
                                                    	vm.$refs.myReport.init();
                                                        vm.$Modal.success({
                                                            title: response.data.msg
                                                        }); 
                                                    }
                                                }).catch(error => {
                                                    console.log(error);
                                                });
                                            }
                                        },
											style: {
												color: '#0099FF',
												fontSize: '12px',
												display: params.row.RWZTDM!='待签收' ? 'none' : 'inline-block'
											}
                                        },'撤回'),
                                       	h('a',{
											style: {
												color: '#0099FF',
												fontSize: '12px',
												display: params.row.RWZTDM!='已撤回' ? 'none' : 'inline-block'
											},
                                       		attrs: {
                                            href: './w?cmd=com.awspaas.user.apps.clue.router&classify=report&action=update&sid='+sid+'&extendParams={"RWBH":"'+params.row.RWBH+'"}',
                                            },},'编辑'),
                                        h('a',{
											on:{
												click:()=>{
													vm.sueInformationForm.readonly = false;
													vm.sueInformationForm.submitShow = true;
													vm.sueInformationForm.suein = '';
													vm.sueInformationForm.sueout = '';
													vm.sueInformationForm.suelocal = '';
													vm.sueInformationForm.suery = '';
													vm.sueRwbh = params.row.RWBH;
													vm.sueInformation = true;
													axios({
														url: './jd?cmd=com.awspaas.user.apps.clue.getClueSueXsbh&sid='+sid+'&rwbh='+params.row.RWBH,
														method: 'post',
													}).then(response => {
														console.log(response.data);
														vm.sueInformationForm.sueXsbh = response.data;
													}).catch(error => {
														console.log(error);
													});

												}
											},
                                            style: {
                                                color: '#0099FF',
                                                fontSize: '12px',
                                                display: (params.row.RWZTDM =='关闭' && params.row.QS_PDBZ !='1' && params.row.SBLXDM__CODE == '02') ? 'inline-block' : 'none'
                                            }

										},'录入起诉'),
										h('a',{
											on:{
												click:()=>{
													vm.sueRwbh = params.row.RWBH;
													vm.sueInformation = true;
													vm.sueInformationForm.readonly = true;
													vm.sueInformationForm.submitShow = false;
													let jsonn = {
														RWBH:params.row.RWBH,
													};
													let param = new URLSearchParams();
													param.append("json",JSON.stringify(jsonn));
													axios({
														url: './jd?cmd=com.awspaas.user.apps.clue.getClueSue&sid='+sid,
														method: 'post',
														data: param
													}).then(response => {
														console.log(response.data.data);
														vm.sueInformationForm.sueXsbh = response.data.data.XSBH;
														vm.sueInformationForm.suein = response.data.data.suein;
														vm.sueInformationForm.sueout = response.data.data.sueout;
														vm.sueInformationForm.suelocal = response.data.data.suelocal;
														vm.sueInformationForm.suery = response.data.data.suery;
														vm.sueInformationForm.sutime = formatTonomal(parseInt(response.data.data.sutime.time));
														vm.sueInformationForm.readonly = true;
														vm.sueInformationForm.submitShow = false;
														vm.sueInformationForm.sufile = JSON.parse(response.data.data.sufile);
														vm.suFileForUp = 'none';
														vm.suFileForDown = true;
													}).catch(error => {
														console.log(error);
													});

												}
											},
											style: {
												color: '#0099FF',
												fontSize: '12px',
												display: (params.row.RWZTDM =='关闭' && params.row.QS_PDBZ == '1') ? 'inline-block' : 'none'
											}

										},'查看起诉'),
									];
									
								return h('Poptip', {
									props: {
										trigger: 'click',
										placement: 'left'
									},
								}, [
									h('span', {
										style: {
											color: '#0099FF',
											fontSize: '12px',
											cursor: 'pointer'
										},
									}, '更多'),
									h('div', {
										slot: 'content',
										style: {
											textAlign: 'center',
											lineHeight: '25px',
											fontSize: '14px'
										}
									}, contentList)
								]

                                )
							}
						}
					]
				},
				//单位上报
				unitReportTable: {
					url: './jd?cmd=com.awspaas.user.apps.clue.getUnitReportTask&sid=' + sid,
					queryParams: this.searchParams,
					columns: [{
							title: '上报编号',
							key: 'RWBH',
							width: 230,
							render: (h, params) => {
								return h('div', [
									h('a', {
										attrs: {
											href: './w?cmd=com.awspaas.user.apps.clue.router&classify=report&action=process&sid=' + sid + '&extendParams={"RWBH":"' + params.row.RWBH + '"}',
											target: '_blank'
										}
									}, params.row.RWBH)
								]);
							},
						},
						{
							title: '标题名称',
							key: 'RWMC',
							width: 250,
							tooltip: true
						},
						{
							title: '上报类型',
							key: 'SBLXDM',
							tooltip: true
						},
						{
							title: '创建人',
							key: 'SBRY_XM',
							tooltip: true
						},
						{
							title: '创建时间',
							key: 'SBSJ',
							sortable: true,
							tooltip: true
						},
						{
							title: '接收单位',
							key: 'JSDW_GAJGJGDM',
							tooltip: true
						},
						{
							title: '接收人',
							key: 'JSRY_XM',
							tooltip: true,
							render: (h, params) => {
								if(params.row.JSRY_XM == ''){
									return 	h('div',{
										style:{
											position: 'relative',
											left: '15px'
										}
									},'—')
								}else{
									return 	h('span',{

									},params.row.JSRY_XM)
								}
							}
						},
						{
							title: '任务状态',
							key: 'RWZTDM',
							tooltip: true,
							render: (h, params) => {
								let statusColor;
								if(params.row.RWZTDM == '待签收') {
									statusColor = '#09f'
								} else if(params.row.RWZTDM == '回退') {
									statusColor = '#f56c6c'
								} else if(params.row.RWZTDM == '驳回') {
									statusColor = '#f56c6c'
								} else if(params.row.RWZTDM == '中止') {
									statusColor = '#cccccc'
								} else if(params.row.RWZTDM == '沟通中') {
									statusColor = '#e6a23c'
								} else if(params.row.RWZTDM == '转派中') {
									statusColor = '#67c23a'
								} else if(params.row.RWZTDM == '转派成功') {
									statusColor = '#0099ff'
								} else if(params.row.RWZTDM == '转派失败') {
									statusColor = '#cccccc'
								} else if(params.row.RWZTDM == '关闭') {
									statusColor = '#cccccc'
								} else if(params.row.RWZTDM == '已签收') {
									statusColor = '#67c23a'
								}else if(params.row.RWZTDM=='已撤回'){
                        			statusColor='#cccccc'
                        		};
								return h('Poptip', [
									h('span', {
										style: {
											width: '9px',
											height: '9px',
											borderRadius: '25px',
											position: 'relative',
											backgroundColor: statusColor,
											display: 'inline-block'
										},
									}),
									h('span', {
										style: {
											marginLeft: '5px',
										},
									}, params.row.RWZTDM),
								])
							}
						},
					]
				},
				//辖区上报
				areaReportTable: {
					url: './jd?cmd=com.awspaas.user.apps.clue.getAreaReportTask&sid=' + sid,
					queryParams: this.searchParams,
					columns: [{
							title: '上报编号',
							key: 'RWBH',
							width: 230,
							render: (h, params) => {
								return h('div', [
									h('a', {
										attrs: {
											href: './w?cmd=com.awspaas.user.apps.clue.router&classify=report&action=process&sid=' + sid + '&extendParams={"RWBH":"' + params.row.RWBH + '"}',
											target: '_blank'
										}
									}, params.row.RWBH)
								]);
							},
						},
						{
							title: '标题名称',
							key: 'RWMC',
							width: 250,
							tooltip: true
						},
						{
							title: '上报类型',
							key: 'SBLXDM',
							tooltip: true
						},
						{
							title: '创建单位',
							key: 'SBDW_GAJGMC',
							tooltip: true
						},
						{
							title: '创建时间',
							key: 'SBSJ',
							sortable: true,
							tooltip: true
						},
						{
							title: '接收单位',
							key: 'JSDW_GAJGJGDM',
							tooltip: true
						},
						{
							title: '接收人',
							key: 'JSRY_XM',
							tooltip: true,
							render: (h, params) => {
								if(params.row.JSRY_XM == ''){
									return 	h('div',{
										style:{
											position: 'relative',
											left: '15px'
										}
									},'—')
								}else{
									return 	h('span',{

									},params.row.JSRY_XM)
								}
							}
						},
						{
							title: '任务状态',
							key: 'RWZTDM',
							tooltip: true,
							render: (h, params) => {
								let statusColor;
								if(params.row.RWZTDM == '待签收') {
									statusColor = '#09f'
								} else if(params.row.RWZTDM == '回退') {
									statusColor = '#f56c6c'
								} else if(params.row.RWZTDM == '驳回') {
									statusColor = '#f56c6c'
								} else if(params.row.RWZTDM == '中止') {
									statusColor = '#cccccc'
								} else if(params.row.RWZTDM == '沟通中') {
									statusColor = '#e6a23c'
								} else if(params.row.RWZTDM == '转派中') {
									statusColor = '#67c23a'
								} else if(params.row.RWZTDM == '转派成功') {
									statusColor = '#0099ff'
								} else if(params.row.RWZTDM == '转派失败') {
									statusColor = '#cccccc'
								} else if(params.row.RWZTDM == '关闭') {
									statusColor = '#cccccc'
								} else if(params.row.RWZTDM == '已签收') {
									statusColor = '#67c23a'
								}else if(params.row.RWZTDM=='已撤回'){
                        			statusColor='#cccccc'
                        		};
								return h('Poptip', [
									h('span', {
										style: {
											width: '9px',
											height: '9px',
											borderRadius: '25px',
											position: 'relative',
											backgroundColor: statusColor,
											display: 'inline-block'
										},
									}),
									h('span', {
										style: {
											marginLeft: '5px',
										},
									}, params.row.RWZTDM),
								])
							}
						},
					]
				},
				//我的续报
				myResubmitTable: {
					url: './jd?cmd=com.awspaas.user.apps.clue.getMyResubmitTask&sid=' + sid,
					queryParams: this.searchParams,
					columns: [{
						title: '续报编号',
						key: 'XBBH',
						width: 230,
						render: (h, params) => {
							return h('div', [
								h('a', {
									attrs: {
										href: './w?cmd=com.awspaas.user.apps.clue.router&classify=clue&action=resubmitProcess&sid=' + sid + '&extendParams={"RWBH":"' + params.row.XBBH + '","XSBH":"'+params.row.XSBH+'"}',
										target: '_blank'
									}
								}, params.row.XBBH)
							]);
						},
					},
						{
							title: '线索名称',
							key: 'XSMC',
							width: 250,
							render: (h, params) => {
								return h('div', [
									h('a', {
										attrs: {
											href: './w?cmd=com.awspaas.user.apps.clue.router&classify=clue&action=detail&sid='+sid+'&extendParams={"XSBH":"'+params.row.XSBH+'"}',
											target:'_blank'
										}
									}, params.row.XSMC)
								]);
							},
						},
						{
							title: '创建人',
							key: 'XBDJRY_XM',
							tooltip: true
						},
						{
							title: '创建时间',
							key: 'DJSJ',
							sortable: true,
							tooltip: true
						},
						{
							title: '接收单位',
							key: 'JSDW_GAJGMC',
							tooltip: true
						},
						{
							title: '接收人',
							key: 'JSRY_XM',
							tooltip: true
						},
						{
							title: '任务状态',
							key: 'LZ_RWZTDM',
							tooltip: true,
							render: (h, params) => {
								let statusColor;
								if(params.row.LZ_RWZTDM == '待签收') {
									statusColor = '#09f'
								} else if(params.row.LZ_RWZTDM == '回退') {
									statusColor = '#f56c6c'
								} else if(params.row.LZ_RWZTDM == '驳回') {
									statusColor = '#f56c6c'
								} else if(params.row.LZ_RWZTDM == '中止') {
									statusColor = '#cccccc'
								} else if(params.row.LZ_RWZTDM == '沟通中') {
									statusColor = '#e6a23c'
								} else if(params.row.LZ_RWZTDM == '转派中') {
									statusColor = '#67c23a'
								} else if(params.row.LZ_RWZTDM == '转派成功') {
									statusColor = '#0099ff'
								} else if(params.row.LZ_RWZTDM == '转派失败') {
									statusColor = '#cccccc'
								} else if(params.row.LZ_RWZTDM == '关闭') {
									statusColor = '#cccccc'
								} else if(params.row.LZ_RWZTDM == '已签收') {
									statusColor = '#67c23a'
								}else if(params.row.LZ_RWZTDM=='已撤回'){
									statusColor='#cccccc'
								}else if(params.row.LZ_RWZTDM=='重新续报'){
									statusColor='#67c23a'
								};
								
								return h('Poptip', [
									h('span', {
										style: {
											width: '9px',
											height: '9px',
											borderRadius: '25px',
											position: 'relative',
											backgroundColor: statusColor,
											display: 'inline-block'
										},
									}),
									h('span', {
										style: {
											marginLeft: '5px',
										},
									}, params.row.LZ_RWZTDMLZ_RWZTDM),
								])
							}
						},
					]
				},
				//下级续报
				subResubmitTable: {
					url: './jd?cmd=com.awspaas.user.apps.clue.getSubResubmitTask&sid=' + sid,
					queryParams: this.searchParams,
					columns: [{
						title: '续报编号',
						key: 'XBBH',
						width: 230,
						render: (h, params) => {
							return h('div', [
								h('a', {
									attrs: {
										href: './w?cmd=com.awspaas.user.apps.clue.router&classify=clue&action=resubmitProcess&sid=' + sid + '&extendParams={"RWBH":"' + params.row.XBBH + '","XSBH":"'+params.row.XSBH+'"}',
										target: '_blank'
									}
								}, params.row.XBBH)
							]);
						},
					},
						{
							title: '线索名称',
							key: 'XSMC',
							width: 250,
							render: (h, params) => {
								return h('div', [
									h('a', {
										attrs: {
											href: './w?cmd=com.awspaas.user.apps.clue.router&classify=clue&action=detail&sid='+sid+'&extendParams={"XSBH":"'+params.row.XSBH+'"}',
											target:'_blank'
										}
									}, params.row.XSMC)
								]);
							},
						},
						{
							title: '创建人',
							key: 'XBDJRY_XM',
							tooltip: true
						},
						{
							title: '创建时间',
							key: 'DJSJ',
							sortable: true,
							tooltip: true
						},
						{
							title: '接收单位',
							key: 'JSDW_GAJGMC',
							tooltip: true
						},
						{
							title: '接收人',
							key: 'JSRY_XM',
							tooltip: true
						},
						{
							title: '任务状态',
							key: 'LZ_RWZTDM',
							tooltip: true,
							render: (h, params) => {
								let statusColor;
								if(params.row.LZ_RWZTDM == '待签收') {
									statusColor = '#09f'
								} else if(params.row.LZ_RWZTDM == '回退') {
									statusColor = '#f56c6c'
								} else if(params.row.LZ_RWZTDM == '驳回') {
									statusColor = '#f56c6c'
								} else if(params.row.LZ_RWZTDM == '中止') {
									statusColor = '#cccccc'
								} else if(params.row.LZ_RWZTDM == '沟通中') {
									statusColor = '#e6a23c'
								} else if(params.row.LZ_RWZTDM == '转派中') {
									statusColor = '#67c23a'
								} else if(params.row.LZ_RWZTDM == '转派成功') {
									statusColor = '#0099ff'
								} else if(params.row.LZ_RWZTDM == '转派失败') {
									statusColor = '#cccccc'
								} else if(params.row.LZ_RWZTDM == '关闭') {
									statusColor = '#cccccc'
								} else if(params.row.LZ_RWZTDM == '已签收') {
									statusColor = '#67c23a'
								}else if(params.row.LZ_RWZTDM=='已撤回'){
									statusColor='#cccccc'
								}else if(params.row.LZ_RWZTDM=='重新续报'){
									statusColor='#67c23a'
								};
								return h('Poptip', [
									h('span', {
										style: {
											width: '9px',
											height: '9px',
											borderRadius: '25px',
											position: 'relative',
											backgroundColor: statusColor,
											display: 'inline-block'
										},
									}),
									h('span', {
										style: {
											marginLeft: '5px',
										},
									}, params.row.LZ_RWZTDM),
								])
							}
						},
					]
				},
				calloption: false,
			},
			methods: {
				matchType(item) {
					debugger;
					return item.FJLX==undefined ? item.name.split('.')[1] : item.FJLX;
				},
				downLoadFile(mc,bh){
				    this.showLoadMask('文件下载中');
				    let json={
				        "data": {
				            "FJMC": mc,
				            "GLYWBH": bh
				        }
				    };
				    axios({
				        url: "./jd?",
				        method: "post",
				        params: { sid: sid, json: json, cmd: 'com.awspaas.user.apps.clue.getAttachmentDownloadURL' }
				    }).then(response => {
				        if(response.data.result=="ok"){
				            this.hideLoadMask();
				            window.open(response.data.data);
				        }
				    }).catch(error => {
				        console.log(error);
				    });
				},
				hideLoadMask() {
					this.$Spin.hide();
				},
				showLoadMask(msg) {
					this.$Spin.show({
						render: (h) => {
							return h('div', [
								h('Icon', {
									'class': 'demo-spin-icon-load',
									props: {
										type: 'ios-loading',
										size: 18
									}
								}),
								h('div', msg)
							])
						}
					});
				},
				handleRemove(file, fileList){

				},
                handleSuccess(res, file, fileList) {
                    try{
                        var msg = res.data.msg;
                        var filePath = typeof msg == 'string' ? JSON.parse(res.data.msg).filePath : res.data.msg.filePath;
                        if(this.filePath.length != 0){
							this.filePath=[];
						}
                        this.filePath.push(filePath);
                        this.$Loading.finish();
                        this.hideLoadMask();
						this.$Message.success("文件上传成功！");
                        this.clueDownNyms=true;
                    }catch(ex){
                        this.hideLoadMask();
                        this.$Message.error("文件上传失败！");
                        this.$Loading.error();
                    }

                },
                handlerprogress(event, file, fileList){
                    this.showLoadMask('文件上传中');
                },
                handleFormatError(file) {
                    this.$Notice.warning({
                        title: "错误的文件格式",
                        desc: "文件 " +
                            file.name +
                            " 格式不正确"
                    });
                    this.$Loading.error();
                    this.hideLoadMask();
                },
                handleMaxSize(file) {
                    try{
                        this.showLoadMask('文件上传中');
                        this.$Notice.warning({
                            title: "文件内容过大",
                            desc: "文件  " + file.name + "超出100M."
                        });
                    }catch(e){
                        this.hideLoadMask();
                        this.$Message.error("文件上传失败！");
                        this.$Loading.error();
                    }

                },
                handleBeforeUpload() {
                    try{
                        this.showLoadMask('文件上传中');
                        const check = this.uploadList.length < 15;
                        if(!check) {
                            this.$Loading.error();
                            this.$Notice.warning({
                                title: "最多上传15个附件！"
                            });
                            return false;
                        }
                        this.$Loading.start();
                        return check;
                    }catch(e){
                        this.hideLoadMask();
                        this.$Message.error("文件上传失败！");
                        this.$Loading.error();
                    }
                },
                submitSue(name){//新增起诉情况
                    this.$refs[name].validate((valid) => {debugger
                        if(valid){
                            let _this = this;
                            let jsonn = {
                                data: {
                                	rwb : this.sueRwbh,
                                    "BO_EU_XSHB_XS": {
										QSAJ_SN:this.sueInformationForm.suein,
										QSAJ_SW: this.sueInformationForm.sueout,
										QSAJ_BD:this.sueInformationForm.suelocal,
										QSRY:this.sueInformationForm.suery,
										xsbh:this.sueInformationForm.sueXsbh,
										QS_TIME:this.sueInformationForm.sutime,
										QS_FILE:this.filePath[0]
                                    }
                                }
                            };
                            let url = "com.awspaas.user.apps.clue.updateClueSue";
                            this.searchData(jsonn, url,
                                function(response) {
                                    let data = response.data;
                                    if (data.result == 'ok') {
                                        _this.$Modal.success({
                                            title: data.msg,
                                            content: '确定后刷新页面',
                                            onOk: () => {
                                                vm.$refs.myReport.init();
                                                vm.sueInformation = false;
                                            }
                                        });
                                    }
                                })
                        }
                    })
                },
				getCodeSelect(table, url, name, $event){//查询code
					let json={
						table:table
					};
					let param = new URLSearchParams();
					param.append("json",JSON.stringify(json));
					if($event){
						axios({
							url: "./jd?sid="+sid+"&cmd="+url,
							method: "post",
							data: param
						}).then(response => {
							this[name] = response.data.data;
						}).catch(error => {
							console.log(error);
						});
					}

				},
				switchTab(name) {
					this.activeTabName = name;
					this.search();
				},
				search() {
					this.$refs[this.activeTabName].init();
				},
				handleReset(name) {
					this.$refs[name].resetFields();
					this.$refs.createDepartment.handleReset(); //清空子组件方法input内容  创建单位
					this.$refs.getDepartment.handleReset(); //清空子组件方法input内容  接收单位
					this.selectuser = []; //清除下拉人员内容
				},
				pageToAddReport() {
					window.location.href = './w?cmd=com.awspaas.user.apps.clue.router&classify=report&action=add&sid=' + sid;
				},
				getUser($event) {
					if(this.searchParams.JSDW_GAJGJGDM == '' || this.searchParams.JSDW_GAJGJGDM == null) {
						if($event) {
							this.$Message.warning('请选择接收单位');
						}
					} else {
						axios({
							url: './jd?cmd=com.awspaas.user.apps.clue.getOrguserMap&sid=' + sid,
							method: 'post',
							params: {
								departmentid: this.searchParams.JSDW_GAJGJGDM
							}
						}).then(response => {
							if(response.data.result == 'ok') {
								this.selectuser = response.data.data;
							}
						}).catch(error => {
							console.log(error);
						});
					}
				},
				searchData(json, url, callback) {
					let param = new URLSearchParams();
					param.append("json",JSON.stringify(json));
					axios({
						url: "./jd?sid="+sid+"&cmd="+url,
						method: "post",
						data: param
					}).then(response => {
						callback(response);
					}).catch(error => {
						console.log(error);
					});
				},
			},
			mounted() {
				if(user.userGxsLev == 3) {
					this.activeTabName = 'myReport';
				}
				this.search();
			}
		});
	</script>

</html>